mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="Profile-pic")
        .textareaContainer
            textarea#postTextarea(placeholder="What's Happening ?")
            .buttonsContainer
                button#submitPostButton(disabled="") Post